.clear {
	clear: both;
}.nobr {
	white-space: nowrap;
}
h3.trigger {
	font-size: 18px;

	margin: 0 !important;
	padding: 10px;
	cursor: pointer;
}
h3.trigger:before {
	font-family: 'Dashicons';
	font-weight: normal;
	font-style: normal;
	padding-right: 10px;
	content: '\f132';
	vertical-align: middle;
	speak: none;
	-webkit-font-smoothing: antialiased;
}
h3.trigger a {
	display: block;
	text-decoration: none;
	color: #333;
}
h3.trigger a:hover {
	text-decoration: none;
	color: #0489b7;
}
h3.trigger.active:before {
	content: '\f460';
}
h3.toggle-white {
	background-color: #fff;
}
.diff-wrapper table .diff-sub-title th,
.diff-wrapper table .diffheader {
	background-color: #666;
	color: #fff;
	font-weight: normal;
}
h3.toggle-gray {
	background-color: #f5f5f5;
}
.toggle_container {
	overflow: hidden;
	padding: 0 25px 20px 40px;
}
h3.toggle-gray + div.toggle_container {
	background-color: #f5f5f5;
}
h3.trigger + div.toggle_container p:last-of-type {
	/*I use this, because if a toggle_container only contains 1 paragraph, it won't actually create a "p" to surround it, but if there's a couple, it will. This removes the extra padding on the last paragraph  */
	margin-bottom: 0;
}
.nodiff {
	background-color: #f5f5f5;
	text-align: center;
    font-family: Consolas,Monaco,monospace;
    font-size: 14px;
    line-height: 1.618;
    padding: 0.5em;
    vertical-align: top;
    word-wrap: break-word;
}
abbr[title] {
	border-bottom: 1px dotted currentcolor;
	cursor: help;
}
.tplc_status_table td, .tplc_status_table td ol, .tplc_status_table td p, .tplc_status_table td ul {
    line-height: 1.8;
}
.diff-wrapper table.diff tr:nth-child(2n) .diff-context {
    background-color: #f5f5f5;
}
.diff-wrapper table.diff tbody tr th:nth-child(2) {
    width: 4%;
}
.tplc_diff_hr {
    margin: 10px 0 15px 0;
}
.tplc_diff_hr:last-of-type {
	display: none;
}